<!-- Brands Section -->
<head>
   
    <link rel="stylesheet" href="../css/brands.css">
</head>
<div class="brands-section">
    <h2>Discover More Brands You’ll Love</h2>
    <div class="brands-grid">
      <!-- Replace the src attribute with actual paths to your brand logos -->
      <img src="../assets/brands/b1.jpg" alt="Raymour & Flanigan">
      <img src="../assets/brands/b2.jpg" alt="Bloomingdales">
      <img src="../assets/brands/b3.jpg" alt="GW Gardner White">
      <img src="../assets/brands/b4.jpg" alt="Big Sandy">
      <img src="../assets/brands/b5.jpg" alt="Rooms to Go">
      <img src="../assets/brands/b6.jpg" alt="HOM Furniture">
      <img src="../assets/brands/b7.jpg" alt="Mor">
      <img src="../assets/brands/b8.jpg" alt="Lulu and Georgia">
      <img src="../assets/brands/b9.jpg" alt="Mathis Home">
      <img src="../assets/brands/b10.jpg" alt="Kittle's Furniture">
      <img src="../assets/brands/b11.jpg" alt="Heller">
      <img src="../assets/brands/b12.jpg" alt="MINE">
      <img src="../assets/brands/b13.jpg" alt="Lamps Plus">
      <img src="../assets/brands/b14.jpg" alt="RC Willey">
      <img src="../assets/brands/b15.jpg" alt="Cardi's">
      <img src="../assets/brands/b16.jpg" alt="Slumberland Furniture">
      <img src="../assets/brands/b17.jpg" alt="Hudson's">
      <img src="../assets/brands/b18.jpg" alt="Bel Furniture">
      <img src="../assets/brands/b19.jpg" alt="Scout Design Studio">
      <img src="../assets/brands/b20.jpg"alt="Levin Furniture">
      <img src="../assets/brands/b21.jpg" alt="Old Brick">
      <img src="../assets/brands/b22.jpg" alt="Avocado">
      <img src="../assets/brands/b23.jpg" alt="Bernie & Phyl's">
      <img src="../assets/brands/b18.jpg" alt="One Kings Lane">
    </div>
  </div>
  