<!DOCTYPE html>
<html lang="en">
<head>
   
    <link rel="stylesheet" href="../css/discover.css">
</head>
<body>
    <div class="style-container">
        <div class="discover-text">
            <p class="new-heading">Discover Your Style</p>
            <button class="btn">All Styles</button>
        </div>
        <div class="style-grid">
            <a href=""> <img src="../assets/d1.jpg" alt="Traditional" class="discover-image"></a>
           <a href="">
           <img src="../assets/d2.jpg"alt="Farmhouse" class="discover-image">
        </a>
        <a href="">  
            <img src="../assets/d3.jpg" alt="Mid Century Modern" class="discover-image"></a>
        <a href="">
            <img src="../assets/d4.jpg" class="discover-image" alt="Coastal">
        </a>
          
          
          
        </div>
    </div>
</body>
</html>
