<div class="header">
    <div class="header-top">
        <div class="header-links">
      <a href="#" class="header-link bold">Plan Your Black Friday With Deal Finder </a>
      <a href="#" class="header-link">The easiest way to find deals <span> <i class="fa-solid fa-arrow-right fa-lg" style="color: #ffffff;"></i></span></a>
    </div>
      <div class="separator"></div>
      <div class="header-links">
        <a href="#" class="header-link bold">Find It on Black Friday </a>
        <a href="#" class="header-link">Get a sneek peak at the big sale <span> <i class="fa-solid fa-arrow-right fa-lg" style="color: #ffffff;"></i></span></a>
      </div>      <div class="separator"></div>
      <div class="header-links">
        <a href="#" class="header-link bold">The Ultimate Mattress Sale </a>
        <a href="#" class="header-link">Upto 60% off for Black Friday <span> <i class="fa-solid fa-arrow-right fa-lg" style="color: #ffffff;"></i></span></a>
      </div>    </div>
    <div class="header-bottom">
    
      <div class="logo">
       
        <img src="../assets/logo.png" alt="">
    </div>
    <div class="search-bar-wrapper">
        <i class="fa fa-search"></i>
        <input type="text" class="search-bar" placeholder="Find it..." />
    </div>
    
    <div class="location">
        <i class="fa-regular fa-paper-plane" style="color: #007a78;"></i>
        <span>Are you shopping in <a href="#">Reston, VA</a>?</span>
      </div>
    
  </div>
  