<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/navbar.css">
</head>
  <nav class="navbar">
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="#">Deal Finder</a>
      </li>
      <li class="nav-item">
        <a href="#">Furniture</a>
      </li>
      <li class="nav-item">
        <a href="#">Living</a>
      </li>
      <li class="nav-item">
        <a href="#">Bedroom</a>
        <!-- Dropdown -->
        <!-- <div class="dropdown-menu">
          <div class="dropdown-left">
            <ul>
              <li>Bedroom Furniture Sets</li>
              <li>Beds & Headboards</li>
              <li>Bedroom Storage</li>
              <li>Mattresses & Foundations</li>
              <li>Bedding</li>
              <li>Lighting</li>
              <li>Rugs</li>
              <li>Decor</li>
            </ul>
          </div>
          <div class="dropdown-right">
            <div class="right-item">All Bedroom Furniture Sets</div>
            <div class="right-item">King Size Furniture Sets</div>
            <div class="right-item">Queen Size Furniture Sets</div>
            <div class="right-item">Full Size Furniture Sets</div>
            <div class="right-item">Twin Size Furniture Sets</div>
            <div class="right-item">California King Size Furniture Sets</div>
          </div>
          <div class="dropdown-guide">
            <h3>Bedroom Guide</h3>
            <p>Rest & relax in a room perfectly curated for you.</p>
            <a href="#">Learn more →</a>
          </div>
        </div> -->
      </li>
      <li class="nav-item">
        <a href="#">Mattresses</a>
      </li>
      <li class="nav-item">
        <a href="#">Dining</a>
      </li>
      <li class="nav-item">
        <a href="#">Home Office</a>
      </li>
      <li class="nav-item">
        <a href="#">Outdoor</a>
      </li>
      <li class="nav-item">
        <a href="#">Rugs & Decor</a>
      </li>
      <li class="nav-item black-friday">
        <a href="#">Black Friday Sale</a>
      </li>
      <li class="nav-item">
        <a href="#">Holidays</a>
      </li>
      <li class="nav-item">
        <a href="#">Inspiration</a>
      </li>
    </ul>
  </nav>

 
