<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../css/navbar.css">
</head>

<body>
  <!-- Navbar -->
   <div>

 
  <nav class="navbar">
    <ul class="nav-menu">
      <li class="nav-item" data-menu="deal-finder">
        <a href="#">Deal Finder</a>
        <div class="dropdown-section"></div>
      </li>
      <li class="nav-item" data-menu="furniture">
        <a href="#">Furniture</a>
        <div class="dropdown-section"></div>
      </li>
      <li class="nav-item" data-menu="mattresses">
        <a href="#">Mattresses</a>
        <div class="dropdown-section"></div>
      </li>
      <li class="nav-item" data-menu="dining">
        <a href="#">Dining</a>
        <div class="dropdown-section"></div>
      </li>
      <li class="nav-item" data-menu="homeoffice">
        <a href="#">Home Office</a>
        <div class="dropdown-section"></div>
      </li>
      <li class="nav-item" data-menu="outdoor">
        <a href="#">Outdoor</a>
        <div class="dropdown-section"></div>
      </li>
      <li class="nav-item" data-menu="rugs">
        <a href="#">Rugs & Decor</a>
        <div class="dropdown-section"></div>
      </li>
      <li class="nav-item" data-menu="baby">
        <a href="#">Baby & Kids</a>
        <div class="dropdown-section"></div>
      </li>
      <li class="nav-item" data-menu="friday">
        <a href="#">Black Friday Sale</a>
        <div class="dropdown-section"></div>
      </li>
      <li class="nav-item" data-menu="holidays">
        <a href="#">Holidays</a>
        <div class="dropdown-section"></div>
      </li>
      <li class="nav-item" data-menu="inspiration">
        <a href="#">Inspiration</a>
        <!-- <div class="dropdown-section"></div> -->
      </li>
    </ul>
   
  </nav>
  <div class="dropdown-container">
    <div class="dropdown-content">
      <div class="left-menu"></div>
      <div class="middle-content"></div>
      <div class="right-content"></div>
    </div>
  </div>
</div>
  <!-- Include jQuery Script -->
  <script src="../js/navbar.js"></script>
</body>

</html>
