<!-- savings.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/savings.css">

 
</head>
<div class="savings">
    <div class="saving-text">

    
    <div class="saving-heading">Biggest Savings</div>
    <div>
        <button class="scroll-button left" id="scroll-left">&lt;</button>
        <button class="scroll-button right" id="scroll-right">&gt;</button>
    </div>
</div>
    
  <div class="savings-container">
   
    <div class="savings-content" id="savings-content" >
      <!-- Add cards dynamically -->
      <!-- Example Cards -->
     
    </div>
   
    <div class="scroll-indicator">
        <div class="scroll-indicator-line" id="indicator-line"></div>
    </div>
  </div>
</div>
</html>
