<head>
    <link rel="stylesheet" href="../css/shop.css">

</head>
<div id="shop-section">
    <div class="shop-text">

    <div class="shop-heading">
        Shop New Brands
    </div>
    <div class="scroll-controls">
        <button id="scroll-left-s" class="scroll-btn">&lt;</button>
        <button id="scroll-right-s" class="scroll-btn">&gt;</button>
      </div>
    </div>
    <div id="shops-content" class="shops-container">
      <!-- Dynamic cards will be loaded here -->
    </div>
   
    <div class="scroll-indicator-s">
      <div id="indicator-line-s"></div>
    </div>
  </div>
  