<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/whatsNew.css">

</head>
<body>
  <div class="whats-new-container">
    <div class="new-text">
        <p class="new-heading">What's New for Holiday</p>
        <button class="btn">Get Inspired</button>
    </div>

    <div class="upper-layer-phone">
        <div class="first-layer">
            <img src="../assets/hpc1.jpeg" style="max-width: 300px;" alt="">
            <div class="second-layer">
                <div class="third-layer">
                    <img src="../assets/hpc2.jpeg" style="max-width: 150px; " alt="" >
                    <img src="../assets/hpc3.jpeg" style="max-width: 150px; " alt="">

                </div>
                <div class="fourth-layer">
                    <img src="../assets/hpc4.jpeg" style="width: 150px;" alt="">
                </div>
            </div>

        </div>
    </div>

    <div class=" upper-layer">
        <div class="whats-new-card">
            <a href="#" class="link">
            <img class="image-size" src="../assets/converted_image.jpeg" alt="Black Friday">
            <div class="content">
              <div class="label">Sale</div>
              <p class="text">Save Up to 60% on Mattresses, Sofas, and More Big Ticket Items</p>
             
            </div>
            </a>
          </div>
          <div class="whats-new-card">
            <a href="#" class="link">
            <img class="image-size" src="../assets/converted_image (1).jpeg" alt="Black Friday">
            <div class="content">
              <div class="label">New</div>
              <p class="text">Find the Biggest Furniture Markdowns Across All Brands</p>
             
            </div>
            </a>
          </div>
          <div class="whats-new-card">
            <a href="#" class="link">
            <img class="image-size" src="../assets/converted_image (2).jpeg" alt="Black Friday">
            <div class="content">
              <div class="label">Featured</div>
              <p class="text">Classic and Unfussy: 6 Modern Table Setting Tips From Mathis Home</p>
             
            </div>
            </a>
          </div>
          <div class="whats-new-card">
            <a href="#" class="link">
            <img class="image-size" src="../assets/converted_image (3).jpeg" alt="Black Friday">
            <div class="content">
              <div class="label">Featured</div>
              <p class="text">Treat your overnight guests to unparalleled comfort and grownup style</p>
             
            </div>
            </a>
          </div>
    </div>
    
    <div class="cards-layer lower-layer">
        <div class="whats-new-card">
            <a href="#" class="link">
            <img class="image-size" src="../assets/converted_image (4).jpeg" alt="Black Friday">
            <div class="content">
              <div class="label">Featured</div>
              <p class="text">An Elevated Dining Collection Designed To Wow Your Dinner Party Guests</p>
             
            </div>
            </a>
          </div>
          <div class="whats-new-card">
            <a href="#" class="link">
            <img class="image-size" src="../assets/converted_image (5).jpeg" alt="Black Friday">
            <div class="content">
              <div class="label">Gift Guides</div>
              <p class="text">Editor’s Picks: Unique Gift Ideas for Interior Design Lovers</p>
             
            </div>
            </a>
          </div>
          <div class="whats-new-card">
            <a href="#" class="link">
            <img class="image-size" src="../assets/converted_image (6).jpeg" alt="Black Friday">
            <div class="content">
              <div class="label">Shopping</div>
              <p class="text">14 Best Sleeper Sofas for Hosting Your Holiday Guests</p>
             
            </div>
        </a>
          </div>
          <div class="whats-new-card">
            <a href="#" class="link">
            <img class="image-size" src="../assets/converted_image (7).jpeg" alt="Black Friday">
            <div class="content">
              <div class="label">Shopping</div>
              <p class="text">Must-Have Decor for the 2024 Holiday Season</p>
             
            </div>
            </a>
          </div>
    </div>
    <!-- Repeat for each card -->
  </div>
</body>
</html>
